<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top w-100">
      <nav class="navbar bg-theme w-100 d-flex shadow">
        <div>
          <%= link_to root_path, class: 'text-decoration-none' do %>
            <h2>Private Events</h2>
          <%end%>
        </div>
        <div class="btn-group-lg text-white">
          <% user_status.each do |button|%>
            <%= button%>
          <%end%>
        </div>
      </nav>
    </header>
    <main class="container py-4 mt-5">
      <% if flash[:notice]%>
        <div class="alert alert-info bg-info text-dark text-center">
        <strong><%= notice%></strong>
        </div>
      <%end%>
      <% if flash[:alert]%>
        <div class="alert alert-warning text-center text-white bg-danger border m-0 w-100">
        <strong class="h5"><%= alert.html_safe%></strong>
        </div>
      <%end%>
      <%= yield %>
    </main>
  </body>
</html>
